@using System.Web.Mvc
@using Ktoto.Neprav
@using Ktoto.Neprav.Models
@using Ktoto.Neprav.Utils

@helper Liking(IIdentityInfo identity, Theme theme, Feed feed)
{
	var url = new UrlHelper(Context.Request.RequestContext);
    var author = identity.Author;
	<span class="like-count">
        <a class="liker" href="@url.Action("Click", "Opinion", new {feedId = feed.Id, themeId = theme.Id, color = OpinionColor.Good})">
            @if (feed.Opinions.Any(op => op.Color == OpinionColor.Good && op.Author == author))
            {
                <img src="/Images/like-active.png" />
            }
            else
            {
                <img src="/Images/like-inactive.png" />
            }
        </a>
	    @feed.Opinions.Count(o => o.Color == OpinionColor.Good)

        <a class="liker" href="@url.Action("Click", "Opinion", new { feedId = feed.Id, themeId = theme.Id, color = OpinionColor.Bad })">
            @if (feed.Opinions.Any(op => op.Color == OpinionColor.Bad && op.Author == author))
            {
                <img src="/Images/hate-active.png" />
            }
            else
            {
                <img src="/Images/hate-inactive.png" />
            }
        </a>
        @feed.Opinions.Count(o => o.Color == OpinionColor.Bad)
	</span>
}

@helper CommentForm(Feed target, Theme theme, string postUrl)
{
    <div >
        <div class="comment-spans">
            <span class="comment-link comment-link-good @OpinionColor.Good" data-color="@OpinionColor.Good">Позитивно комментировать</span>
            <span class="comment-link comment-link-bad @OpinionColor.Bad" data-color="@OpinionColor.Bad"> Негативно комментировать</span>
        </div>
        <form action="@postUrl" class="comment-body" style="display: none">
            <input type="hidden" class="color-value" name="Color" value="" />
            <input type="hidden" name="ThemeId" value="@theme.Id" />
            <input type="hidden" name="FeedId" value="@target.Id" />
            <textarea name="Text" class="comment-editor"></textarea>
            <input type="submit" value="POST" />
        </form>
    </div>
}

@helper Comment(IIdentityInfo identity, Comment comment, Theme theme, string postUrl)
{
    <div class="comment @comment.Color">
        <table class="load-vk-author author" data-user-id="@comment.Author.UserId">
            <tr>
                <td rowspan="2" class="avatar-cell">
                    <a href="@comment.Author.GetPageUrl()" class="avatar-link">
                        <img class="avatar" />
                    </a>
                </td>
                <td>
                    <a href="@comment.Author.GetPageUrl()" class="name-link"></a>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="body">
                        @comment.Text
                        @Snippets.Liking(identity, theme, comment)
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="subcomments">
                        @CommentForm(comment, theme, postUrl)
                        @foreach (var subcomment in comment.Comments)
                        {
                            @Comment(identity, subcomment, theme, postUrl);
                        }
                    </div>
                </td>
            </tr>
        </table>
    </div>
}

@helper ThemeItem(Theme theme, string themeUrl)
{
    <div class="theme-item">
        <a href="@themeUrl">@theme.Name</a>
    </div>

}

@helper ThemeItemSelected(Theme theme, string themeUrl)
{
    <div class="theme-item-selected">
        <a href="@themeUrl">@theme.Name</a>
    </div>

}



