@model ThemeViewModel

@{
    ViewBag.Title = Model.Theme.Name;
    var postUrl = Url.Action("Comment", "Comments");
}

<h2 class="theme-title">
    @Html.ActionLink((string)ViewBag.Title, "Index", new {themeId = Model.Theme.Id}) 
    @Snippets.Liking(IdentityInfo, Model.Theme, Model.Theme)
</h2>

<div id="theme">
    @Snippets.CommentForm(Model.Theme, Model.Theme, postUrl)
    @foreach (var opinionModel in Model.ThemeOpinionViewModels)
    {
        <div class="opinion @opinionModel.Color">
            <div>
                @foreach (var comment in opinionModel.Comments)
                {
                    @Snippets.Comment(IdentityInfo, comment, Model.Theme, postUrl);
                }
            </div>
        </div>
    }
</div>