@using Ktoto.Neprav.Utils
@model ThemeViewModel

@{
    ViewBag.Title = Model.Theme.Name;
}

<h2>@ViewBag.Title @Snippets.Liking(Model.Theme, This)</h2>

<script type="text/javascript">
    $(function () {
        var authorsToLoad = $('.load-vk-author');
        loadUsersIntoDivs(authorsToLoad);
    });
</script>

<div id="theme">
    @foreach (var opinionModel in Model.ThemeOpinionViewModels)
    {
        <div class="opinion @opinionModel.Opinion">
            <div>
                <form action="@Url.Action("Comment")">
                    <input type="hidden" name="OpinionColor" value="@opinionModel.Opinion"/>
                    <input type="hidden" name="ThemeAuthorId" value="@Model.Theme.Id"/>
                    <textarea name="Text" class="comment-editor"></textarea>
                    <input type="submit" value="Оставить комментарий…"/>
                </form>
                @foreach (var comment in opinionModel.Comments)
                {
                    var url = "https://vk.com/id"+comment.Author.UserId;
                    <div class="comment">
                        <table class="load-vk-author author" data-user-id="@comment.Author.UserId">
                            <tr>
                                <td rowspan="2">
                                    <a href="@url" class="avatar-link">
                                        <img class="avatar" />
                                    </a>
                                </td>
                                <td>
                                    <a href="@url" class="name-link"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="body">
                                        @comment.Text
                                    </span>
                                </td>
                            </tr>
                            
                        </table>
                    </div>
                }
            </div>
        </div>
    }
</div>