@using System
@inherits Ktoto.Neprav.Utils.MyWebViewPage
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/api.js")
        @Scripts.Render("~/Scripts/jquery-2.1.1.js")
        <script src="//vk.com/js/api/xd_connection.js?2" type="text/javascript">
        </script>
        <script type="text/javascript">
            $(function() {
                VK.init(function () {
                    var userId = getGetArg('user_id');
                    VK.api("users.get", { user_ids: userId, fields: "photo_50,first_name,last_name" }, function (data) {
                        if (data.response) {
                            var authStub = $('#vk-auth');
                            var userData = data.response[0];
                            authStub.append($('<img />').attr('src', userData.photo_50));
                            authStub.append($('<span />').attr('style', 'min-width: 200px').attr('text', userData.first_name + ' ' + userData.last_name));
                        }
                    });
                });
            });

        </script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
	                    <a href="/">
		                    <img src="@Url.Content("~/Images/Logo.png")"/>
	                    </a>
                    </p>
                </div>
                <div class="float-right">
                    <section id="vk-auth">
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Новая тема", "Create", "Themes")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
	    <div id="body">
		    @RenderSection("featured", required: false)
		    <section class="content-wrapper main-content clear-fix">
			    @RenderBody()
		    </section>
	    </div>

        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Ktoto.Neprav LTD.</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
