@inherits Ktoto.Neprav.Utils.MyWebViewPage
@{
    Identity = DependencyResolver.Current.GetService<IdentityInfo>();
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
	                    <a href="/">
		                    <img src="@Url.Content("~/Images/Logo.png")"/>
	                    </a>
                    </p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @if (Identity.IsAuthorized)
                        {
	                        <span>Welcome, @Html.ActionLink(Identity.Author.Name, "Page", "Author", new ViewAuthorPage(Identity.Author), null) !</span>
	                        <span>@Html.ActionLink("Выйти", "Logout", "Auth", new LogoutModel {BackUrl = Request.RawUrl}, null)</span>
						}
						else
						{
							<form action="@Url.Action("Login", "Auth")" method="POST">
								Эл. почта: <input type="text" name="Mail" />
								Пароль: <input type="password" name="Password" />
								<input type="submit" value="Вход" />
							</form>
							@Html.ActionLink("Регистрация", "Register", "Auth")
                        }
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Новая тема", "Create", "Themes")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
	    <div id="body">
		    @RenderSection("featured", required: false)
		    <section class="content-wrapper main-content clear-fix">
			    @RenderBody()
		    </section>
	    </div>

        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Ktoto.Neprav LTD.</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
