@inherits MyWebViewPage
@{
    VkArgs = DependencyResolver.Current.GetService<IVkArgs>();
    IdentityInfo = DependencyResolver.Current.GetService<IIdentityInfo>();
    var developers = new[] {1484336L, 5349661L, 106613956L};
    var userId = VkArgs.ViewerId;
    if (!developers.Contains(userId))
    {
        throw new Exception("Приложение в разработке");
    }
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/jquery-2.1.1.js")
        @Scripts.Render("~/Scripts/api.js")
        <script src="//vk.com/js/api/xd_connection.js?2" type="text/javascript">
        </script>
        <script>
            $(function () {
                var authorsToLoad = $('.load-vk-author');
                loadUsersIntoDivs(authorsToLoad);
                $('.comment-link').click(function() {
                    var commentLink = $(this);
                    var parent = commentLink.parent();
                    parent.hide();
                    var color = commentLink.data('color');
                    var form = parent.next();
                    form.find('.color-value').attr('value', color);
                    form.show();
                });

            });
        </script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
	                    <a href="/">
		                    <img src="@Url.Content("~/Images/Logo.png")"/>
	                    </a>
                    </p>
                </div>
                <div class="float-right">
                    <section id="vk-auth">
                        <table class="load-vk-author author" data-user-id="@this.IdentityInfo.Author.UserId">
                            <tr>
                                <td rowspan="2" class="avatar-cell">
                                    <a href="@IdentityInfo.Author.GetPageUrl()" class="avatar-link">
                                        <img class="avatar" />
                                    </a>
                                </td>
                                <td>
                                    <a href="@IdentityInfo.Author.GetPageUrl()" class="name-link"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="body">
                                        Знающий ИСТИНУ
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Новая тема", "Create", "Theme")</li>
                            <li>
                                <form action="@Url.Action("Search", "Themes")">
                                    <input type="text" name="text"/>
                                    <input type="submit" value="Поиск"/>
                                </form>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
	    <div id="body">
		    @RenderSection("featured", required: false)
		    <section class="content-wrapper main-content clear-fix">
			    @RenderBody()
		    </section>
	    </div>

        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Ktoto.Neprav LTD.</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
